<body>
  <h1>Students</h1>
  <ul>
    <% students.forEach(students => { %>
      <li>
				<%= students.text %> 
				- 
				<%= students.done ? 'done' : 'not done' %>
			</li>
    <% }) %>
  </ul>
</body>